.btn
  display: inline-block
  box-sizing: border-box
  font-size: $font-size-btn
  -webkit-font-smoothing: antialiased

@each $c in success $c-green-bright #fff, primary $gradient-primary-bottom #fff, danger $c-red #fff
  .btn-#{nth($c,1)}
    @extend .btn
    font-weight: bold
    text-shadow: 0 1px 0 rgba(#000, 0.1)
    padding: 0
    border-radius: $border-radius-base
    &, &:hover, &:focus, &:active, &:visited
      border: solid nth($c,2)
      border-width: $padding-base-vertical $padding-base-horizontal
      background-color: nth($c,2)
      color: nth($c,3)

.btn-link
  color: $link-color
  transition: color 0.2s ease
  &, &:hover, &:focus
    background: none
    outline: none
    text-decoration: none
  &:hover
    color: $link-color-hover

.btn-link--gray
  &, &:focus
    color: $c-gray
  &:hover
    color: darken($c-gray, 15%)

.btn-link--blue-light
  &, &:focus
    color: $c-blue-light
  &:hover
    color: $c-blue

.btn-link--white
  &, &:focus
    color: rgba(#fff, 0.8)
  &:hover
    color: #fff

.btn-collapse
  padding:
    left: 0
    right: 0

.btn-wide
  padding:
    left: $grid-gutter-width/2
    right: $grid-gutter-width/2

.btn-wide-lg
  padding:
    left: $grid-gutter-width
    right: $grid-gutter-width

.tdy-btn-primary
  &, &:focus, &:hover
    text-decoration: none
    color: #fff
    background-color: $button-background
    border: solid $button-background
    border:
      @each $s in top, bottom
        #{$s}:
          width: 10px !important
      @each $s in left, right
        #{$s}:
          width: 20px !important
    line-height: 2
    font-weight: bold
    text-align: center
    cursor: pointer
    display: inline-block
    border-radius: 5px
    text-transform: capitalize

