.content-block
  padding-bottom: $grid-gutter-width

.container-block
  padding:
    left: $grid-gutter-width/2
    right: $grid-gutter-width/2

@each $b in xs $grid-gutter-width/3, sm $grid-gutter-width/2, lg $grid-gutter-width*2
  .content-block-#{nth($b,1)}
    padding-bottom: nth($b,2)

.content-image
  display: inline-block
  max-width: 100%

.layout-divider
  display: block
  width: 100%
  height: 1px
  border: none
  background-color: $line-color

.layout-divider-line
  margin: 0
  padding: 0

