%layout-divider-style
  //display: block
  //width: 100%
  height: 2px
  border:
    top: none
    left: none
    right: none
    bottom: 1px solid $line-color

table.container
  width: auto !important

table.content-block
  & > tbody
    & > tr
      & > td
        padding-bottom: $grid-gutter-width

table.container-block
  & > tbody
    & > tr
      & > td
        padding:
          left: $grid-gutter-width/2
          right: $grid-gutter-width/2

@each $b in xs $grid-gutter-width/3, sm $grid-gutter-width/2, lg $grid-gutter-width*2
  table.content-block-#{nth($b,1)}
    & > tbody
      & > tr
        & > td
          padding-bottom: nth($b,2)

.content-image
  display: inline-block
  max-width: 100%

table.layout-divider
  & > tbody
    & > tr
      & > td
        @extend %layout-divider-style
        padding: $grid-gutter-width/2 0

table.layout-divider-line
  & > tbody
    & > tr
      & > td
        @extend %layout-divider-style


