(function() {
  var keys;

  keys = {
    mailer: {
      service: '',
      auth: {
        user: '',
        pass: ''
      }
    },
    mailOptions: {
      from: '',
      to: '',
      subject: '',
      text: ''
    },
    s3: {
      production: {
        region: '',
        key: '',
        secret: '',
        bucket: ''
      },
      staging: {
        region: '',
        key: '',
        secret: '',
        bucket: ''
      }
    }
  };

  module.exports = keys;

}).call(this);
