extends _layouts/base

block content
  include _elements/logo
  .app-body-content
    h2.text-center.app-title
      | New events on your cameras
    .content-block
      each i in [0, 1]
        if i > 0
          .layout-divider.layout-divider-line
          .content-block
        .container-block
          .content-block
            div.content-block-xs
              | We have detected motion on
              a(href='http://grupocomuio.synology.me:5004/onvif/device_service' target="_blank")
                |  Your camera
              nobr
                |  at 17:24:59 on Wednesday,
              nobr
                |  March 16, 2016.
            .text-center.content-block-sm
              a(href='http://grupocomuio.synology.me:5004/onvif/device_service' target="_blank")
                img.content-image(src='#{ghPagesUrl}/images/camera-shot-sample.jpg')
            .text-center.text-muted
              p
                | You might want to check out what's going on.
              a.btn.btn-primary(href='http://grupocomuio.synology.me:5004/onvif/device_service' target="_blank")
                | View camera event

block footer
  .app-footer
    .content-block-sm
      | You are receiving this email because you asked to be notified when your camera goes offline.
      | You can change your notification settings by logging in to
      a(href="")
        |  your 3dEYE account.
    .content-block-sm
      | Have comments or questions?
      | &nbsp;
      a(href="")
        | Email 3dEYE Support.
    .content-block-sm
      | &copy; 2015 1 Yonge Street, Suite 1801, Toronto, Ontario, Canada, M5E 1W7

