extends _layouts/base

block content
  include _elements/logo
  .app-body-content
    .text-center.app-title
      | New events on your cameras
    .content-block
      each i in [0, 1]
        if i > 0
          .layout-divider.layout-divider-line
          .content-block
        .container-block
          .content-block
            div.content-block-xs
              | We have detected motion on
              a(href='http://grupocomuio.synology.me:5004/onvif/device_service' target="_blank")
                |  Your camera
              nobr
                |  at 17:24:59 on Wednesday,
              nobr
                |  March 16, 2016.
            .text-center.content-block-sm
              a(href='http://grupocomuio.synology.me:5004/onvif/device_service' target="_blank")
                img.content-image(src='#{ghPagesUrl}/images/camera-shot-sample.jpg')
            center
              p.text-center
                center
                  | You might want to check out what's going on.
              center
                a.btn-primary(href='http://grupocomuio.synology.me:5004/onvif/device_service' target="_blank")
                  | View camera event

block footer
  include _elements/footer

