extends _layouts/base

block content
  container
    row
      columns
        center
          include _elements/logo
  container.app-table-container.app-container-white
    row
      columns
        h1.text-center
          | Verify your account
        spacer(size=10)
        p.text-center
          | Welcome to 3deye! Please confirm your email address.
        spacer(size=10)
        center
          a.tdy-btn-primary(href="http://3deye.me/sample-link" target="_blank")
            | Confirm Email &rarr;
        spacer(size=30)
        center.text-center
          | Or, paste this link into your browser:
          br
          a(href='http://3deye.me/sample-link' target="_blank")
            |  http://3deye.me/sample-link
        spacer(size=20)


block footer
  container.app-table-footer
    row
      columns
        include _elements/footer
