extends _layouts/base

block content
  <!--[if mso]>
  h1
    | Verify your account
  p.text-center
    | Welcome to 3deye! Please confirm your email address.
  p
    | &nbsp;
  a
    | Confirm Email
  p
    | Or, paste this link into your browser:
    br
    a(href='' target="_blank")
      |  http://3deye.me/sample-link
  <![endif]-->
  <![if !mso]>
  container
    row
      columns
        center
          include _elements/logo
  container.app-table-container
    row
      columns
        h1.text-center
          | Verify your account
        p.text-center
          | Welcome to 3deye! Please confirm your email address.
        p
          | &nbsp;
        center
          button.large.rounded
            a
              | Confirm Email

        p &nbsp;
        center
          p
            | Or, paste this link into your browser:
            br
            a(href='' target="_blank")
              |  http://3deye.me/sample-link

  <![endif]>

block footer
  <![if !mso]>
  container.app-table-footer
    row
      columns
        include _elements/footer
  <![endif]>
