extends _layouts/base

block content
  include _elements/logo
  .app-body-content
    .text-center.app-title
      | Verify your account
    .content-block
      .container-block
        .content-block
          .content-block-sm.text-center
            | Welcome to 3deye! Please confirm your email address.
          center
            a.btn-primary(href='' target="_blank")
              | Confirm Email &rarr;
        .content-block
          .layout-divider-line
        .content-block
          .content-block.text-center
            | Or, paste this link into your browser:
            br
            a(href='' target="_blank")
              |  http://3deye.me/sample-link

block footer
  include _elements/footer

