.app-footer
  .content-block-sm
    | You are receiving this email because you asked to be notified when your camera goes offline.
    | You can change your notification settings by logging in to
    a(href="")
      |  your 3dEYE account.
  .content-block-sm
    | Have comments or questions?
    | &nbsp;
    a(href="")
      | Email 3dEYE Support.
  .content-block-sm
    | &copy; 2015 1 Yonge Street, Suite 1801, Toronto, Ontario, Canada, M5E 1W7

