table.menu.text-center
  tbody
    tr
      td
        table
          tbody
            tr
              th.menu-item.float-center
                a(href='#') About
              th.menu-item.float-center
                a(href='#') Course List
              th.menu-item.float-center
                a(href='#') Campus Map
              th.menu-item.float-center
                a(href='#') Contact

